<div class="row">
	<div class="col-lg-12">		
		<div ng-controller="KuvagalleriaCtrl">
			<div class="row">
				Hanko 2014				
			</div>
			<div style="height:300px">
				<carousel interval="myInterval">
					<slide ng-repeat="slide in slides1" active="slide.active">
						<img ng-src="{{slide.image}}" style="margin:auto;">
						<div class="carousel-caption">
							<p>{{slide.text}}</p>
						</div>
					</slide>
				</carousel>
			</div>
			
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">		
		<div ng-controller="KuvagalleriaCtrl">
			<div class="row">
				Karvisen 15-vuotisjuhlat				
			</div>
			<div style="height:300px">
				<carousel interval="myInterval">
					<slide ng-repeat="slide in slides2" active="slide.active">
						<img ng-src="{{slide.image}}" style="margin:auto;">
						<div class="carousel-caption">
							<p>{{slide.text}}</p>
						</div>
					</slide>
				</carousel>
			</div>
			
		</div>
	</div>
</div>